@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>This is a simple file storage service.</p>
	<p>This was created as a alternative to other services, that overload your web browser with advertising.</p>
	<p>Whilst this is work in progress. I hope you can find some use in its existence.</p>
	<a asp-controller="Files" asp-action="Index" class="btn btn-primary">Click here to view all files.</a>
</div>