@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>This is a simple file storage service.</p>
	<p>This was created as a alternative to other services, that overload your web browser with advertising.</p>
	<p>Whilst this is work in progress. I hope you can find some use in its existence.</p>
	<br/>
	<p>I do request that this service not be abused.</p>
	<p>I'm planning various systems, user accounts, space allocation, permissions and privacy.</p>
	<p>But things take time to develop, so for now, don't abuse this system.</p>
	<p>Thank you!</p>
	
	
	<a asp-controller="Files" asp-action="Index" class="btn btn-primary">Click here to view all files.</a>
</div>