@model dynamic

@{
	ViewBag.Title = "Sorry :(";
	Layout = "_Layout";
}

<h2>Sorry - :(</h2>

<p>There wasn't enough space to upload your file.</p>
<p>There is a total limit of 1024 blocks of data.</p>
<p>And looks like yours would have gone over that limit</p>
<p>Appologies for the inconvenience.</p>
