@model FileHandleModel;

@{

}

<h2>File - @Model.FileName</h2>

<ul class="list-group">
 <li class="list-group-item">File Name: @Model.FileName</li>
 <li class="list-group-item">Block Count: @Model.BlockCount</li>
</ul>